@charset "utf-8";
/* CSS Document */



	.header{
		font-family: Tahoma, Geneva, sans-serif;
			color: #000;
	}
	#mainContainer {
	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-topight: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;

	border: 1px solid #CCC;
	
}
	#contentBox, #mainContent {
	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-topight: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;

	border: 1px solid #CCC;
	
}
#loginHeader, #trackHeader{
	background-image: url(../_assests/LoginHeaderBackground.jpg);
	background-repeat: repeat-x;
}
#LoginBox{

	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-topight: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	border: 1px solid #CCC;
}
#sectionBox{
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-topight: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	border: 1px solid #F0F0F0;
	background: #F0F0F0
}
.wireframemenu{
border: 1px solid #C0C0C0;
background-color: white;
border-bottom-width: 0;
width: 170px;
}

* html .wireframemenu{ /*IE only rule. Original menu width minus all left/right paddings */
width: 164px;
}

.wireframemenu ul{
padding: 0;
margin: 0;
list-style-type: none;
}

.wireframemenu a{
font: bold 13px Verdana;
padding: 4px 3px;
display: block;
width: 100%; /*Define width for IE6's sake*/
color: #595959;
text-decoration: none;
border-bottom: 1px solid #C0C0C0;
}

.wireframemenu a:visited{
color: #595959;
}

html>body .wireframemenu a{ /*Non IE rule*/
width: auto;
}

.wireframemenu a:hover{
background-color: #F8FBBD;
color: black;
}
#trackFooter, #loginFooter{
	background-image: url(../_assests/footerBackground.jpg);
	background-repeat: repeat-x;

                             
}

.sectionTitle{
	font-size: 16px;
	font-weight: bold;
	color: #0000FF;
}
.registerMail_P1{
	font-weight: normal;
	color: #000;
}

.alert-danger{
	color: #CA0000;
	background-color: #FFE1E1;
	border-color:#FFE1E1;
}

input.valid {
    background: url(../_images/icon-ok.png) no-repeat right center #e3ffe5;
    color: #002f00;
    border-color: #96b796 !important;
}

input.error {
    background: url(../_images/icon-fail.png) no-repeat right center #ffebef;
    color: #480000;
}
